##
## This code and all components (c) Copyright 2006 - 2025, Wowza Media Systems, LLC. All rights reserved.
## This code is licensed pursuant to the Wowza Public License version 1.0, available at www.wowza.com/legal.
##
name: Whisper Streaming 
services:
    whisper_server:
        hostname: whisper.server
        image: whisper_streaming:latest
        build:
            context: .
            # dockerfile: Dockerfile.jetson
        # runtime: nvidia
        # deploy:
        #   resources:
        #     reservations:
        #       devices:
        #         - driver: nvidia
        #           capabilities: [gpu]
        #           count: 1
        environment:
            - MODEL=tiny # tiny.en, base.en, small.en, medium.en, large-v3
            - LOG_LEVEL=INFO
            - MIN_CHUNK_SIZE=1
            - SOURCE_LANGUAGE=en
            - REPORT_LANGUAGES=en,fr,es,de,ja
            # - REPORT_LANGUAGES=en
            - TRANSLATE_HOST=libretranslate.server
            - TRANSLATE_PORT=5000
            - MODEL=tiny
            # - MODEL=large-v3-turbo
            # - USE_GPU=True
            # - FP16=true
        ports:
            - 3000:3000
        volumes:
            - /tmp/whisper_models_cache:/tmp

    libretranslate_server:
        hostname: libretranslate.server
        image: libretranslate/libretranslate:latest
        # image: libretranslate/libretranslate:latest-cuda 
        environment:
            - LT_LOAD_ONLY=en,fr,es,de,ja
        ports:
            - 5001:5000
        volumes:
            - /tmp/libretranslate_models_cache:/home/libretranslate/.local
