##
## This code and all components (c) Copyright 2006 - 2025, Wowza Media Systems, LLC. All rights reserved.
## This code is licensed pursuant to the Wowza Public License version 1.0, available at www.wowza.com/legal.
##
name: Whisper Streaming 
services:
    whisper_server:
        hostname: whisper.server
        image: whisper_streaming:latest
        # runtime: nvidia
        # deploy:
        #   resources:
        #     reservations:
        #       devices:
        #         - driver: nvidia
        #           capabilities: [gpu]
        #           count: 1        
        build:
            context: .
        environment:
            - MODEL=tiny # tiny.en, base.en, small.en, medium.en, large-v3
            - LOG_LEVEL=INFO
            - MIN_CHUNK_SIZE=1
            - SOURCE_LANGUAGE=en
            - REPORT_LANGUAGES=en,es,ja
            - LIBRETRANSLATE_HOST=libretranslate.server
            - LIBRETRANSLATE_PORT=5000
        ports:
            - 3000:3000
        volumes:
            - ./model_cache:/tmp

    libretranslate_server:
        hostname: libretranslate.server
        image: libretranslate/libretranslate:latest
        environment:
            - LT_LOAD_ONLY=en,es,ja
        ports:
            - 5001:5000
        volumes:
            - ./libretranslate_models:/home/libretranslate/.local
